{% extends "base.html" %}

<!--
  This file contains the query submission form.
  The included script is responsible for turning #query-form
  into an ajax form, and places the results in #query-response
-->

{% block js_includes %}
<script src={{url_for('static', filename='scripts/stemmer.js')}}></script>
<script src={{url_for('static', filename='scripts/query_form.js')}}></script>
{% endblock %}

{% block content %}
<form method='post' action='/api/query' id="query-form">
  <div class="form-group row">

    <label for="keyword1"
           class="col-md-2 text-right align-middle">Term 1:</label>
    <input type="text"
           class="form-control col-md-4"
           id="keyword1"
           name="keyword1">
    <label for="keyword2"
           class="col-md-2 text-right align-middle">Term 2:</label>
    <input type="text"
           class="form-control col-md-4"
           id="keyword2"
           name="keyword2">
  </div>
  <div class="form-group row">
    <label for="num_topics"
           class="col-md-2 text-right align-middle"># Topics:</label>
    <input type="number"
           class="form-control col-md-10"
           id="num_topics"
           name="num_topics"
           value=20>
  </div>
  <div class="form-group row">
    <label for="email"
           class="col-md-2 text-right align-middle">Email:</label>
    <input type="email"
           class="form-control col-md-10"
           id="email"
           name="email">
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <button type="submit" class="btn btn-primary col-md-10">
      Submit
    </button>
  </div>
  <div class="row">
    <div class="col-xs-12 svspace"></div>
  </div>
  <div class="row" id="query-response">
  </div>
</form>
{% endblock %}


